<nav class="navbar navbar-default" id="menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Current Leads', root_path %></li>
        <li><%= link_to 'Pending Deals', root_path %></li>
        <li><%= link_to 'Dead Leads', root_path %></li>
        <li><%= link_to 'Referred Leads', root_path %></li>
        <li><%= link_to 'Money', root_path %></li>
      </ul>
    </div>
  </div>
</nav>